body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#foto {
    width: 200px;
    margin: 2rem 0;
    border-radius: 35%
}

.estilo-bienvenida {
    margin: 5rem 0 10rem 0;
    color: white;
}

    .estilo-bienvenida h1 {
        margin-bottom: 1rem;
    }

    .estilo-bienvenida p {
        font-family: sans-serif;
        line-height: 1.5;
        font-size: 1.25rem;
    }

#fotoNet {
    width: 300px;
    margin-bottom: -7rem;
    margin-top: -6rem;
}

#fotoNode {
    padding-left: 1rem;
    margin-bottom: -7rem;
    margin-top: -6rem;
    width: 350px;
}

.presentacion {
    background-color: #8CC84B;
}

.cabecera {
    font-weight: bold;
}

#habilidades {
    margin-top: -105px;
}

.redondeo {
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px gray;
    margin-left: 5px;
}

    .redondeo ul {
        list-style: none;
        padding-left: 0;
    }

    .redondeo i {
        color: #0d6efd;
        font-size: 50px;
    }

.fotoproyecto {
    width: 300px;
}

.githubLink {
    text-decoration: none;
    font-weight: bold;
}

    .githubLink:hover {
        color: #28a745; 
    }

.linkedinLink {
    text-decoration: none;
    font-weight: bold;
}

    .linkedinLink:hover{
        color:  #1478D4
    }